#ch-comments {
    min-width: 700px;
}

.ch-comment {
    border-top: 1px solid rgb(222, 222, 222);
    padding: 5px 0;
}
.ch-comment-userid {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 10px;
}

.ch-comment-date {
    display: block;
    font-size: 11px;
    margin-left: 10px;
}

.ch-comment-avatar {
    height: 30px;
    width: 30px;
}

.ch-comment-description {
    padding-left: 40px;
    width: 100%;
}

.ch-comment-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ch-comment-action {
    cursor: pointer;
    font-size: 12px;
    padding-left: 10px;
}