
$blue: #39f;
$dark: #38424a;
$gray: #949494;
$light-gray: #f3f2f1;
$gray-darker-background: #d8d8d8;
$very-light-gray: #fafafa;
$gray-border-light: #d9d9d9;
$blue-hover: #005fbe;
$dirty-white: #f7f5f3;
$history-da-yellow: #ffc000;
$history-rental-green: #6BA753;
$history-listing-blue: #71a9da;
$history-sale-red: #cd2d2e;

$open-sans: "Open Sans", sans-serif;
